/*************************************************************
 *************************************************************
 *
 * CitePrep: color.scss YES
 *
 *************************************************************
 *************************************************************
 */

@use 'sass:color';

// Even better colors
// See https://www.color-hex.com/color-palette/54706
//
$highlight-blue:        #00cdff;
$highlight-red:         #ff00bc;
$highlight-yellow:      #deff00;
$highlight-green:       #03ff00;
$highlight-purple:      #8500ff;
$highlight-transparent: transparent;

$softorange:            rgba(210, 127, 51, 1);
$softblue:              rgba(0, 125, 255, 1);

/* NOTES
  *
  * https://stackoverflow.com/questions/70411152/sass-detect-colour-darkness-to-determine-styles
  */

  :root {
    --kx-primary: #00cdff44;
    --kx-secondary: #ff00bc44;
    --kx-tertiary: #ffff00aa;
    --kx-on-primary: #000;
    --kx-on-secondary: #000;
    --kx-on-tertiary: #000;
    --kx-background: green;
    --kx-on-background: red;

    --kx-brand: #17ADFF;
    --kx-black: black;
    --kx-brown: brown;
    --kx-blue: blue;
    --kx-crimson: crimson;
    --kx-cyan: cyan;
    --kx-peru: peru;
    --kx-darkorange: darkorange;
  }

$background: var(--kx-background);
$primary: var(--kx-primary);
$secondary: var(--kx-secondary);
$tertiary: var(--kx-tertiary);
$onPrimary: var(--kx-on-primary);
$onSecondary: var(--kx-on-secondary);
$onTertiary: var(--kx-on-tertiary);
$onPrimaryContainer: var(--kx-on-primary-container);
$onSecondaryContainer: var(--kx-on-secondary-container);
$onTertiaryContainer: var(--kx-on-tertiary-container);

$color-palette: (
  "primary": var(--kx-primary),
  "onPrimary": var(--kx-on-primary),
  "onPrimaryContainer": var(--kx-on-primary-container),
  "on-primary": var(--kx-on-primary),
  "on-primary-container": var(--kx-on-primary-container),

  "secondary": var(--kx-secondary),
  "onSecondary": var(--kx-on-secondary),
  "onSecondaryContainer": var(--kx-on-secondary-container),
  "on-secondary": var(--kx-on-secondary),
  "on-secondary-container": var(--kx-on-secondary-container),

  "tertiary": var(--kx-tertiary),
  "onTertiary": var(--kx-on-tertiary),
  "onTertiaryContainer": var(--kx-on-tertiary-container),
  "on-tertiary": var(--kx-on-tertiary),
  "on-tertiary-container": var(--kx-on-tertiary-container),

  "background": var(--kx-background),
  "onBackground": var(--kx-on-background),
  "on-background": var(--kx-on-background),
);

.primary { color: $primary }
.bg-primary { background-color: $primary }
.b--primary { border-color: $primary }
.on-primary { color: $onPrimary }
.bg-on-primary { background-color: $onPrimary }
.b--on-primary { border-color: $onPrimary }

.secondary { color: $secondary }
.bg-secondary { background-color: $secondary }
.b--secondary { border-color: $secondary }
.on-secondary { color: $onSecondary }
.bg-on-secondary { background-color: $onSecondary }
.b--on-secondary { border-color: $onSecondary }

.tertiary { color: $tertiary }
.bg-tertiary { background-color: $tertiary }
.b--tertiary { border-color: $tertiary }
.on-tertiary { color: $tertiary }
.bg-on-tertiary { background-color: $tertiary }
.b--on-tertiary { border-color: $tertiary }

.background { color: $background }
.bg-background { background-color: $background }
.b--background { border-color: $background }
.onBackground { color: $background }
.bg-on-background { background-color: $background }
.b--on-background { border-color: $background }
.on-background { color: $background }
.bg-on-background { background-color: $background }
.b--on-background { border-color: $background }

$color-set: ( 
  "highlightblue":   #00cdff44,
  "highlightred":    #ff00bc44,
  "highlightyellow": #ffff00aa,
  "highlightgreen":  #03ff0044,
  "highlightpurple": #8500ff44,

  "greenscreen":     #000,//#04F404FF,

  "softorange":      $softorange,
  "softblue":        $softblue,

  "black" :          var(--kx-black),
  "brown" :          var(--kx-brown),
  "blue" :           var(--kx-blue),
  "crimson":         var(--kx-crimson),
  "cyan":            var(--kx-cyan),
  "peru":            var(--kx-peru),
  "darkorange":      var(--kx-darkorange),

  "forestgreen":     forestgreen,
  "ghostwhite":      ghostwhite,
  "gold":            gold,
  "green":           green,
  "dimgrey":         dimgrey,
  "grey":            grey,
  "darkgrey":        darkgray,
  "silver":          silver,
  "lightgrey":       lightgrey,
  "lightblue":       lightblue,
  "steelblue":       steelblue,
  "lightyellow":     lightyellow,
  "navy":            navy,
  "oceanblue":       midnightblue,
  "orangered":       orangered,
  "orange":          orange,
  "ukraineblue":     steelblue,
  "ukraineyellow":   gold,
  "purple":          purple,
  "red" :            red,
  "yellow" :         yellow,
  "white" :          white,
);



// ******************************************** 
// ******************************************** 
//
// Brand colors
// 
// ******************************************** 
// ******************************************** 

$brand : var(--kx-brand); // #17ADFF; // blue;
$brand-light : white;// #9F5223; //rgba(142, 89,44,1);//color.scale(peru, $lightness: -10%);
$brand-dark : black;
$brand-bright: orangered;

$brand-red: #fb0020;

// https://stackoverflow.com/questions/60774409/custom-css-properties-in-lighten-darken-scss-function

// body:not(.mode-light):not(.mode-dark) {
//   background-color: pink;
// }

main {
  background-color: transparent;
}

body.mode-dark {
  background-color: black;
}

body.mode-light {
  background-color: white;
}

.transparent {
  color: transparent;
}
  
// ******************************************** 
// ******************************************** 
//
// Selected colors
// 
// ******************************************** 
// ******************************************** 

body.mode-light {
  
  .selected .dark {
    color: orange;

    --fa-primary-color: green;
    --fa-secondary-color: green;
    --fa-primary-opacity: 1.0; 
    --fa-secondary-opacity: 1.0; 
  }

  .selected .light {
    color: cyan;

    --fa-primary-color: yellow;
    --fa-secondary-color: yellow;
    --fa-primary-opacity: 1.0; 
    --fa-secondary-opacity: 1.0; 
  }

}

body.mode-dark {

  .selected .dark { 
    color: red; 

    --fa-primary-color: red;
    --fa-secondary-color: red;
    --fa-primary-opacity: 1.0; 
    --fa-secondary-opacity: 1.0; 
  }
  
  .selected .light { 
    color: lightgreen; 
    
    --fa-primary-color: lightgreen;
    --fa-secondary-color: lightgreen;
    --fa-primary-opacity: 1.0; 
    --fa-secondary-opacity: 1.0; 
  }

}

// ******************************************** 
// ******************************************** 
//
// Brand colors - Specialties
// 
// ******************************************** 
// ******************************************** 


body,
body.mode-light {
  
  .brand { color: $brand; }
  .brand { color: $brand; }
  .brand-dark { color: $brand-dark; }
  .brand-light { color: $brand-light; }
  .brand-grey { color: gray; }
  .brand-gray { color: gray; }
  
  .bg-brand { background-color: $brand; }
  .bg-brand-dark { background-color: $brand-dark; }
  .bg-brand-light { background-color: $brand-light; }
  
  .brand-red { color: $brand-red; }
  .bg-brand-red { background-color: $brand-red; }
}

body.mode-dark {
  
  .brand {color: dimgrey} //{ color: $brand-bright; }
  .brand-dark { color: $brand-light; }
  .brand-light { color: $brand-dark; }
  .brand-grey { color: gray; }
  .brand-gray { color: gray; }
  
  .bg-brand { background-color: $brand-bright; }
  .bg-brand-dark { background-color: $brand-dark; }
  .bg-brand-light { background-color: $brand-dark; }
  
}




// ******************************************** 
// ******************************************** 
//
// Specialized markers
//
// Other broad markers that are based on mode-dark and 
// mode-light.
// 
// ******************************************** 
// ******************************************** 

body.mode-light {

  color: $brand-dark;
  p, .P {
    color: $brand-dark;
  }

  .light { color: $brand-light; }
  .dark { color: $brand-dark; }
  
  .bg-dark { background-color: $brand-dark; }
  .bg-light { background-color: $brand-light; }

  h1, h2, h3, h4, h5, h6 { color: $brand-dark; }

  @each $name, $hex in $color-palette {
    .#{$name} {color: $hex}
    .#{$name} p {color: $hex}
  }

}

body.mode-dark {

  color: $brand-light;
  p, .P {
    color: $brand-light;
  }

  .light { color: silver; }
  .dark { color: $brand-light; }

  // Swap light with dark
  .bg-dark { background-color: $brand-dark; }
  .bg-light { background-color: $brand-dark; }

  h1, h2, h3, h4, h5, h6 {color: dimgrey } // { color: $brand-light; }

  @each $name, $hex in $color-palette {
    .#{$name} {color: $hex}
  }
  .blue {color: dimgrey}
  .orangered { color: $brand-light }

  hr { 
    background-color: dimgrey; // #{$sHex}; 
    border-color: dimgrey; // #{$sHex};
  }

}



// ***************************************************** 
// ***************************************************** 
// 
// stand-alone, neither mode-dark nor mode-light 
//
// ***************************************************** 
// ***************************************************** 

.primaryWAITFORIT {
  --custom-0: var(--primary);
  --custom-10: color-mix(in srgb, var(--primary) 90%, white 10%);
  --custom-20: color-mix(in srgb, var(--primary) 80%, white 20%);
  --custom-30: color-mix(in srgb, var(--primary) 70%, white 30%);

  $custom-10: color-mix(in srgb, var(--primary) 90%, white 10%);
  $custom-20: color-mix(in srgb, var(--primary) 80%, white 20%);
  $custom-30: color-mix(in srgb, var(--primary) 70%, white 30%);

  background: var(--custom-10);
  color: var(--on-primary);
}

// @each $name, $hex in $color-palette {

//   $custom-0  : $hex;
  
//   $custom-10 : color.scale($hex, $lightness: 10%);
//   $custom-20 : color.scale($hex, $lightness: 20%);
//   $custom-30 : color.scale($hex, $lightness: 30%);
//   $custom-40 : color.scale($hex, $lightness: 40%);
//   $custom-50 : color.scale($hex, $lightness: 50%);
//   $custom-60 : color.scale($hex, $lightness: 60%);
//   $custom-70 : color.scale($hex, $lightness: 70%);
//   $custom-80 : color.scale($hex, $lightness: 80%);
//   $custom-90 : color.scale($hex, $lightness: 90%);

//   $custom--10 : color.scale($hex, $lightness: -10%);
//   $custom--20 : color.scale($hex, $lightness: -20%);
//   $custom--30 : color.scale($hex, $lightness: -30%);
//   $custom--40 : color.scale($hex, $lightness: -40%);
//   $custom--50 : color.scale($hex, $lightness: -50%);
//   $custom--60 : color.scale($hex, $lightness: -60%);
//   $custom--70 : color.scale($hex, $lightness: -70%);
//   $custom--80 : color.scale($hex, $lightness: -80%);
//   $custom--90 : color.scale($hex, $lightness: -90%);

//   // Transparent versions of the primary color 
//   // 
//   body.primary-#{$name} {

//     @for $i from 1 through 9 {
//       $step: 10 * $i;
//       $lightnessStep: 10% * $i;
//       $alphaStep: -1 * $step * 1%; // Equivalent to -$step%
    
//       .primary-#{$step}     { color: color.scale($hex, $lightness: $lightnessStep) }
//       .primary--#{$step}    { color: color.scale($hex, $lightness: -$lightnessStep) }
//       .bg-primary-#{$step}  { background-color: color.scale($hex, $alpha: $alphaStep) }
//     }

//   }
  
//   body.secondary-#{$name} {

//     @for $i from 1 through 9 {
//       .secondary-#{10*$i}     { color: color.scale($hex, $lightness: 10%*$i)}
//       .secondary--#{10*$i}    { color: color.scale($hex, $lightness: -10%*$i)}
//       .bg-secondary-#{10*$i}  { background-color: color.scale($hex, $lightness: 10%*$i)}
//       .bg-secondary--#{10*$i} { background-color: color.scale($hex, $lightness: -10%*$i)}
//     }
    
//   }
  
//   // Assorted backgrounds by transparency
//   //
//   .bg-#{$name}-10 { background-color: color.scale($hex, $alpha: -10%); }
//   .bg-#{$name}-20 { background-color: color.scale($hex, $alpha: -20%); }
//   .bg-#{$name}-30 { background-color: color.scale($hex, $alpha: -30%); }
//   .bg-#{$name}-40 { background-color: color.scale($hex, $alpha: -40%); }
//   .bg-#{$name}-50 { background-color: color.scale($hex, $alpha: -50%); }
//   .bg-#{$name}-60 { background-color: color.scale($hex, $alpha: -60%); }
//   .bg-#{$name}-70 { background-color: color.scale($hex, $alpha: -70%); }
//   .bg-#{$name}-80 { background-color: color.scale($hex, $alpha: -80%); }
//   .bg-#{$name}-90 { background-color: color.scale($hex, $alpha: -90%); }
  


//   // All encompassing, regardless of the highest level 
//   // including as high as body.
//   // 
//   .#{$name} { color: $custom-0; }

//   .#{$name}--10 { color: $custom--10; }
//   .#{$name}--20 { color: $custom--20; }
//   .#{$name}--30 { color: $custom--30; }
//   .#{$name}--40 { color: $custom--40; }
//   .#{$name}--50 { color: $custom--50; }
//   .#{$name}--60 { color: $custom--60; }
//   .#{$name}--70 { color: $custom--70; }
//   .#{$name}--80 { color: $custom--80; }
//   .#{$name}--90 { color: $custom--90; }

//   .#{$name}-0  { color: $custom-0;  }
//   .#{$name}-10 { color: $custom-10; }
//   .#{$name}-20 { color: $custom-20; }
//   .#{$name}-30 { color: $custom-30; }
//   .#{$name}-40 { color: $custom-40; }
//   .#{$name}-50 { color: $custom-50; }
//   .#{$name}-60 { color: $custom-60; }
//   .#{$name}-70 { color: $custom-70; }
//   .#{$name}-80 { color: $custom-80; }
//   .#{$name}-90 { color: $custom-90; }

//   .dark-#{$name} { color: $custom--20; }
//   .darkest-#{$name} { color: $custom--40; }

//   .bg-#{$name} { background-color: $hex; }
//   .bg-dark-#{$name} { background-color: $custom--20; }
//   .bg-darkest-#{$name} { background-color: $custom--40; }


//   // Drive from the highest level (body) so that I do 
//   // not confuse WHEN I can use the highest level mark as 
//   // .primary-WHATEVER. Here, lower-level colors and backgrounds 
//   // involve primary.
//   // 
//   // PRIMARY PRIMARY PRIMARY 
//   body.primary-#{$name} .bg-primary { background-color: $hex; }
//   body.primary-dark-#{$name} .bg-primary { background-color: $custom--20; }
//   body.primary-darkest-#{$name} .bg-primary { background-color: $custom--40; }
  
//   body.primary-#{$name}.mode-dark .bg-primary {background-color: dimgrey;} // { background-color: $hex; }
//   body.primary-dark-#{$name}.mode-dark .bg-primary {background-color: dimgrey;} // { background-color: $custom--20; }
//   body.primary-darkest-#{$name}.mode-dark .bg-primary {background-color: dimgrey;} // { background-color: $custom--40; }
  
//   body.primary-#{$name} .bg-primary-complement { background-color: color.complement($hex); }
//   body.primary-dark-#{$name} .bg-primary-complement { background-color: color.complement($hex); }
//   body.primary-darkest-#{$name} .bg-primary-complement { background-color: color.complement($hex); }
  
//   @each $degree in (90deg, 180deg, 270deg) {
//     body.primary-#{$name} .bg-primary-#{$degree} { background-color: color.adjust($hex, $hue: $degree); }
//     body.primary-dark-#{$name} .bg-primary-#{$degree} { background-color: color.adjust($hex, $hue: $degree); }
//     body.primary-darkest-#{$name} .bg-primary-#{$degree} { background-color: color.adjust($hex, $hue: $degree); }
//   }
  
//   // SECONDARY SECONDARY SECONDARY 
//   body.secondary-#{$name} .secondary { color: $hex; }
//   body.secondary-dark-#{$name} .secondary { color: $custom--20; }
//   body.secondary-darkest-#{$name} .secondary { color: $custom--40; }
  
//   body.secondary-#{$name} .bg-secondary { background-color: $hex; }
//   body.secondary-dark-#{$name} .bg-secondary { background-color: $custom--20; }
//   body.secondary-darkest-#{$name} .bg-secondary { background-color: $custom--40; }
  
//   body.secondary-#{$name} .bg-secondary-complement { background-color: color.complement($hex); }
//   body.secondary-dark-#{$name} .bg-secondary-complement { background-color: color.complement($hex); }
//   body.secondary-darkest-#{$name} .bg-secondary-complement { background-color: color.complement($hex); }
  
//   @each $degree in (90deg, 180deg, 270deg) {
//     body.secondary-#{$name} .bg-secondary-#{$degree} { background-color: color.adjust($hex, $hue: $degree); }
//     body.secondary-dark-#{$name} .bg-secondary-#{$degree} { background-color: color.adjust($hex, $hue: $degree); }
//     body.secondary-darkest-#{$name} .bg-secondary-#{$degree} { background-color: color.adjust($hex, $hue: $degree); }
//   }
  



//   body.mode-light.#{$name} { color: $brand-dark; }
//   body.mode-light.dark-#{$name} { color: $brand-dark; }
//   body.mode-light.dark-#{$name} { color: $brand-dark; }

//   body.mode-light.bg-#{$name} { background-color: $brand-dark; }
//   body.mode-light.bg-dark-#{$name} { background-color: $brand-dark; }
//   body.mode-light.bg-dark-#{$name} { background-color: $brand-dark; }

//   body.mode-dark.#{$name} { color: $brand-light; }
//   body.mode-dark.dark-#{$name} { color: $brand-light; }
//   body.mode-dark.dark-#{$name} { color: $brand-light; }

//   body.mode-dark.bg-#{$name} { background-color: $brand-light; }
//   body.mode-dark.bg-dark-#{$name} { background-color: $brand-light; }
//   body.mode-dark.bg-dark-#{$name} { background-color: $brand-light; }



//   body.mode-light.#{$name} { color: $custom-0; }
//   body.mode-light.dark-#{$name} { color: $custom--20; }
//   body.mode-light.dark-#{$name} { color: $custom--40; }

//   body.mode-light.bg-#{$name} { background-color: $custom-0; }
//   body.mode-light.bg-dark-#{$name} { background-color: $custom--20; }
//   body.mode-light.bg-dark-#{$name} { background-color: $custom--40; }

//   body.mode-dark.#{$name} { color: $custom-0; }
//   body.mode-dark.dark-#{$name} { color: $custom--20; }
//   body.mode-dark.dark-#{$name} { color: $custom--40; }

//   body.mode-dark.bg-#{$name} { background-color: $custom-0; }
//   body.mode-dark.bg-dark-#{$name} { background-color: $custom--20; }
//   body.mode-dark.bg-dark-#{$name} { background-color: $custom--40; }



//   $shading-set: ( 
//     primary   primary           $hex,
//     primary   primary-dark      $custom--20, 
//     primary   primary-darkest   $custom--40,
//     secondary secondary         $hex,
//     secondary secondary-dark    $custom--20, 
//     secondary secondary-darkest $custom--40,
//   );

//   @each $sQualifier, $sName, $sHex in $shading-set {

//     body.#{$sName}-#{$name} {
//       .b--#{$sName} { border-color: #{$sHex}; }
//       .b--punch { border-color: #{$sHex}; }
//       .bg-punch { background-color: #{$sHex}; }
//       .#{$sName},
//       .#{$sName}-color { 
//         color: $sHex; 
//         --fa-#{$sName}-color: #{$sHex};
//         --fa-#{$sName}-opacity: 1.0; 
//         p, .P {
//           color: $brand-dark;
//         }
//         h1, h2, h3, h4, h5, h6 { color: #{$sHex}; }
//       }
//       hr { 
//         background-color: #{$sHex}; 
//         border-color: #{$sHex};
//       }
//     }

//     body.#{$sName}-#{$name}.mode-dark {
//       hr {
//         background-color: dimgrey;
//         border-color: dimgrey;
//       }
//     }
//   }


// }


#citation-group-set {
  background-color:$brand-light;
}

.mode-light .ICON-FA-SPA {
  --fa-primary-color: green;
  --fa-secondary-color: blue;
  --fa-secondary-opacity: .4;
}

.mode-dark .ICON-FA-SPA {
  --fa-primary-color: green;
  --fa-secondary-color: blue;
  --fa-secondary-opacity: 1.0;
  --fa-primary-opacity: 1.0;
}

.b--lightgray {border-color:lightgray}
.b--lightgrey {border-color:lightgrey}

.thought-bubble,
.thought-bubble-bubble-left:after,
.thought-bubble-bubble-left:before,
.thought-bubble-bubble-right:after,
.thought-bubble-bubble-right:before {
  border-color: $softorange;
  background-color: $softorange;
}

.b--softorange { border-color: $softorange; }