@use './color';

.tiptap p {
  padding:0;
  margin: 0;
}

.ProseMirror-focused,
.tiptap.ProseMirror {
  outline: none !important; // removes the default outline
  // optionally add a subtle focus style that's less intrusive:
  // box-shadow: 0 0 0 2px rgba(53, 126, 221, 0.5);
  border-radius: 4px;
}

body {
  min-width: 700px;
  // max-width: 1200px;
}

.ProseMirror {
  height: 100%;
}

// .mdx-content {
  // background-color: lightgray;
  // padding: 2rem;
  // padding-top: 10rem;
  // color: white;
  // width: 100%
// }

.translation-set h3 {
  padding: 0;
  margin: 0;
}