@use './color';

.tiptap p {
  padding:0;
  margin: 0;
}

.ProseMirror-focused,
.tiptap.ProseMirror {
  outline: none !important; // removes the default outline
  // optionally add a subtle focus style that's less intrusive:
  // box-shadow: 0 0 0 2px rgba(53, 126, 221, 0.5);
  border-radius: 4px;
}

// body {
//   min-width: 700px;
//   max-width: 1200px;
// }

.ProseMirror {
  height: 100%;
}

// .mdx-content {
  // background-color: lightgray;
  // padding: 2rem;
  // padding-top: 10rem;
  // color: white;
  // width: 100%
// }

.translation-set h3 {
  padding: 0;
  margin: 0;
}

p {
  padding-top: 0.57rem;
  padding-bottom: 0.75rem;
}

.legal-block p {
  padding-top: 0;
  padding-bottom: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.privacy-policyX p {
  background-color: blue;
}

.konnexions {
  font-family: sans-serif;
  font-weight: 700;
  color: #999;
  font-size: 48px;
}

.konnex-keeper {
  position: relative;
  left: 2%;
  top: 10%;
}

.konnex-keeper::after {
  content: '';
  position: absolute;
  top: -20%;         /* fine-tune as needed */
  left: 100%;         /* center horizontally */
  width: 7px;
  height: 160%;      /* longer than the font's height */
  background: var(--primary);
  transform: rotate(25deg);
  transform-origin: center;
  border-radius: 100%;  /* flatten tips */
  pointer-events: none; /* so it doesn't interfere */
}

.slash-one-keeper,
.slash-two-keeper {
  position: absolute;
  top: 10%;
  left: 100%;
  font-size: 26pt;
}

.slash-one-keeper {
  transform: translateX(-2px); /* adjust for perfect overlap */
}

.slash-two-keeper {
  transform: translateX(0px); /* adjust for perfect overlap */
}

.konnex {
  position: relative;
  left: 2%;
  top: 10%;
}

.konnex::after {
  content: '';
  position: absolute;
  top: -20%;         /* fine-tune as needed */
  left: 100%;         /* center horizontally */
  width: 7px;
  height: 150%;      /* longer than the font's height */
  background: var(--primary);
  transform: rotate(25deg);
  transform-origin: center;
  border-radius: 100%;  /* flatten tips */
  pointer-events: none; /* so it doesn't interfere */
}

.slash-one,
.slash-two {
  position: absolute;
  top: 20%;
  left: 100%;
  font-size: 26pt;
}

.slash-one {
  transform: translateX(-2px); /* adjust for perfect overlap */
}

.slash-two {
  transform: translateX(0px); /* adjust for perfect overlap */
}
